
<!DOCTYPE html>
<html>
<head>
    <title>Party</title>
</head>
<body>
    <h1>Create Encounter</h1>
    <form method="post" action="@Url.Action("GenerateEncounter", "Encounter")">
        <label for="partySize">Party Size:</label>
        <input type="number" name="partySize" id="partySize" required><br>

        <label for="playerLevel">Player Level:</label>
        <input type="number" name="playerLevel" id="playerLevel" required><br>

        <button type="submit">Generate Encounter</button>
    </form>

   
     
</body>
</html>
