
<!DOCTYPE html>
<html>
<head>
    <title>Party</title>
</head>
<body>
   
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <img src="Assets/dragon.svg" class="img-fluid hero-image" />
            <h1 class="display-5 fw-bold text-white">Manifest</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Manifest Your Adventure, One Monster at a Time.</p>
                <p>Monster Manifest is your portal to infinite possibilities within the realms of Dungeons and Dragons. Whether you're a seasoned Dungeon Master or a budding hero, our platform empowers you to craft, customize, and conquer the most memorable encounters in your D&D campaigns.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" fdprocessedid="9d9vf" onclick="location.href=`@Url.Action("Index", "Encounter")`">Manifest</button>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>
